[submodule "Logger"]
	path = Logger
	url = https://github.com/Granerkbrand/Logging.git
[submodule "Samantha"]
	path = Samantha
	url = https://github.com/Granerkbrand/Samantha.git
[submodule "Instinct"]
	path = Instinct
	url = https://github.com/Granerkbrand/Instinct.git
